---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Button from '../components/Button.astro';
import Footer from '../components/Footer.astro';
import { SITE_DESCRIPTION, SITE_HEADER } from '../config';

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={"Librarians of Babel"+SITE_HEADER} description={SITE_DESCRIPTION} />
	<style>
		ul {
			list-style-type: none;
		}
		input {
			border: solid 1px var(--accent);
			background-color: var(--background);
			text-align: left;

			height: 40px;
			width: 90%;
			margin-top: 10px;
			padding: 10px;			
		}
		.txt {
			height: 100px;
		}
		.btn {
			display: flex;
			justify-content: center;
			padding: 20px;
		}
	</style>
	</head>
	<body>
		<Header/>
		<main>
			<p>Date of establishment: December 2<sup>nd</sup>, 2022</p>
			<p>I made this club, to read books more efficinetly and discuss said books with a variety of people!</p>
			<p>Watch previous discussion here on <a target="_blank" href="https://www.youtube.com/playlist?list=PLSnNQlrhQIUGS6p-NJcGQHeyDai3oq5Ct">YouTube</a>.</p>
			<p>Thanks to <a target="_blank" href="https://www.instagram.com/suryangshuu/">Suryangshu</a> for writing the "html"!</p>
			<h2 class="title">Joining form</h2>
			<form action="https://nocodeform.io/f/638b787d0945312278a8d984" method="POST">
				<center>
					<input type="text" name="name" placeholder="Enter your name">
					<input type="email" name="email" placeholder="Valid email address">
					<input class="txt" type="text" name="message" placeholder="What do you bring to the table? What was the last book you read? No limit of words">
					<span class="btn">
						<Button title="Submit" url="#" type="submit" />
					</span>
				</center>
			</form>
		</main>
		<Footer />
	</body>
</html>
