---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../config';

const posts = (await Astro.glob('./journal/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<style>	
		#posts {
			padding: 10px;
			margin:  0 -20px;
			list-style-type: none;
		}
		
		#post h2 {
			padding: 10px;
		}

		#post time, #post p {
			padding: 0 10px;
		}
	</style>
	</head>
	<body>
	<Header/>
		<main>
			<section>
			<ul id="posts">
				{posts.map((post) => (
					<li id="post" data-tags={post.frontmatter.tags}>
						<h2><a href={post.url} rel="prefetch">{post.frontmatter.title}</a></h2>										
						<div class="text-container">
							<time class="mono" datetime={post.frontmatter.pubDate}>
							{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
								year: 'numeric',
								day: 'numeric',
								month: 'short',
							})}
							</time>
							<p class="des">{post.frontmatter.description}</p>
							<p class="mono"><a href={post.url}>Start reading</a></p>
						</div>
					</li>
				))}
			</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>