---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_DESCRIPTION, SITE_HEADER } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={"Things have been said"+SITE_HEADER} description={SITE_DESCRIPTION} />
	</head>
	<style>
		.twitter-tweet, .nostr-note {
			padding: 0;
			margin: 0;
		}
	</style>
	<body>
		<Header/>
		<main>
			<p>A list of best tweets (now including shit on nostr look for <i>@aryan</i>) I have ever made.</p>
				<!-- <blockquote class="nostr-note"><p lang="en"></p>&mdash; Aryan Singh (@aryan) <a href="">Month DD, YYYY</a></blockquote> -->
				<blockquote class="nostr-note"><p lang="en">Your admiration means nothing to me. I have seen what your boyfriend looks like.</p>&mdash; Aryan Singh (@aryan) <a href="https://snort.social/e/nevent1qqs9za770flm0jj8xm7nhar6096525ml5suasx0h2hs2hku40ctgvwqa6u458">April 17, 2023</a></blockquote>
				<blockquote class="nostr-note"><p lang="en">Almost every time the word “Quantum” is invoked in science fiction, it directly points to lazy writing.</p>&mdash; Aryan Singh (@aryan) <a href="https://snort.social/e/nevent1qqs2kxmmxfagcr484glcrcdwfwm4uufua9pe8au5jvez9yxskaygzzshhsu03">April 15, 2023</a></blockquote>
				<blockquote class="twitter-tweet"><p lang="en">Fat girls need love too, and you need the practice.</p>&mdash; Aryan Singh (@0thorderlogic) <a href="https://twitter.com/0thorderlogic/status/1644251371363811334?ref_src=twsrc%5Etfw">April 7, 2023</a></blockquote>
				<blockquote class="twitter-tweet"><p lang="en">Bumble (a dating app) notifies you “Take fate into your own hand, get bumble premium to see who like you”, nah dude. “Take fate into your hands, get a hold of your dick and rub one out”</p>&mdash; Aryan Singh (@0thorderlogic) <a href="https://twitter.com/0thorderlogic/status/1636780526097907734?ref_src=twsrc%5Etfw">March 17, 2023</a></blockquote> 
				<blockquote class="twitter-tweet"><p lang="en">Defy all rules. Feel you are better than everyone else. Don&#39;t let copypastas tell you any better (or knowledgeable people)! <a href="https://void.cat/d/NMDAPxTYp7vHjJ1qEeihLG.webp">aryan_looking_rad_as_fuck.jpeg</a></p>&mdash; Aryan Singh (@0thorderlogic) <a href="https://twitter.com/0thorderlogic/status/1636034421873672196?ref_src=twsrc%5Etfw">March 15, 2023</a></blockquote>
				<blockquote class="twitter-tweet"><p lang="en">Drawing butterflies to kill time feels gay, give the butterfly a dick to embrace masculinity.</p>&mdash; Aryan Singh (@0thorderlogic) <a href="https://twitter.com/0thorderlogic/status/1635671858077892610?ref_src=twsrc%5Etfw">March 14, 2023</a></blockquote>
				<blockquote class="twitter-tweet"><p lang="en">Engineering is not in itself a difficult thing. But that fact of the matter is most of it is useless in both academia and industry, and here&#39;s the kicker: You know it is useless. For a fact.</p>&mdash; Aryan Singh (@0thorderlogic) <a href="https://twitter.com/0thorderlogic/status/1613819056368517125?ref_src=twsrc%5Etfw">January 13, 2023</a></blockquote>
				<blockquote class="twitter-tweet"><p lang="en">First time in 3 years, when I took a warm shower. Am I still an alpha male?</p>&mdash; Aryan Singh (@0thorderlogic) <a href="https://twitter.com/0thorderlogic/status/1613784687566262273?ref_src=twsrc%5Etfw">January 13, 2023</a></blockquote>
				<blockquote class="twitter-tweet"><p lang="en">Not a single engineering graduated who means well will encourage you to take engineering in India. Everyone who thinks it is a stepping stone to a lucrative career is nothing beyond an arrogant, unaware, out of touch “gyani”</p>&mdash; Aryan Singh (@0thorderlogic) <a href="https://twitter.com/0thorderlogic/status/1613531794833571843?ref_src=twsrc%5Etfw">January 12, 2023</a></blockquote>
				<blockquote class="twitter-tweet"><p lang="en">I don&#39;t know what it is, but there is something inherently hilarious about reading a <a href="https://twitter.com/Madz_Grant?ref_src=twsrc%5Etfw">@Madz_Grant</a> <a target="_blank" href="https://www.telegraph.co.uk/news/2023/01/11/young-men-crisis-nobody-seems-care/">article</a> and coming across this: <br>“f------ a bunch of hoes”</p>&mdash; Aryan Singh (@0thorderlogic) <a href="https://twitter.com/0thorderlogic/status/1613489930600329217?ref_src=twsrc%5Etfw">January 12, 2023</a></blockquote>
				<blockquote class="twitter-tweet"><p lang="en">I find it difficult to trust male professor in India, who don&#39;t were a polo t shirt.</p>&mdash; Aryan Singh (@0thorderlogic) <a href="https://twitter.com/0thorderlogic/status/1612876329371705344?ref_src=twsrc%5Etfw">January 10, 2023</a></blockquote>
				<blockquote class="twitter-tweet"><p lang="en">If YouTube shuts down tomorrow the number of engineering graduates will fall harder than the stock markets during 2008 financial crisis.</p>&mdash; Aryan Singh (@0thorderlogic) <a href="https://twitter.com/0thorderlogic/status/1612528079083274240?ref_src=twsrc%5Etfw">January 9, 2023</a></blockquote>
				<blockquote class="twitter-tweet"><p lang="en">The acts of BJP or as I call them Neo-BJP, (Rebranded RSS) in Madhya Pradesh are concerning as a citizen and from a humanitarian point of view disgusting.</p>&mdash; Aryan Singh (@0thorderlogic) <a href="https://twitter.com/0thorderlogic/status/1611678495901642752?ref_src=twsrc%5Etfw">January 7, 2023</a></blockquote>
				<blockquote class="twitter-tweet"><p lang="en">I have the same barber ever since I was 3 years old, I take metro for a zone, followed by a walk of 3km where I wait for half an hour for my turn and then I travel the same route again. So does my father--So don&#39;t tell me guys have commitment issues.</p>&mdash; Aryan Singh (@0thorderlogic) <a href="https://twitter.com/0thorderlogic/status/1585967787247570946?ref_src=twsrc%5Etfw">October 28, 2022</a></blockquote> 
				<blockquote class="twitter-tweet"><p lang="en">Don&#39;t tell your date you are gay for Ryan Reynolds</p>&mdash; Aryan Singh (@0thorderlogic) <a href="https://twitter.com/0thorderlogic/status/1576718541730250752?ref_src=twsrc%5Etfw">October 2, 2022</a></blockquote> 
				<blockquote class="twitter-tweet"><p lang="en">flush works without electricity!</p>&mdash; Aryan Singh (@0thorderlogic) <a href="https://twitter.com/0thorderlogic/status/1566176019878662144?ref_src=twsrc%5Etfw">September 3, 2022</a></blockquote> 
				<blockquote class="twitter-tweet"><p lang="en">The ceiling fans in the old Indian parliament are upside down. We are robbing the ministers of the opportunity to commit suicide. Thank God we are about to do something about it!<br>originally written on Dec 2020</p>&mdash; Aryan Singh (@0thorderlogic) <a href="https://twitter.com/0thorderlogic/status/1547673759582420992?ref_src=twsrc%5Etfw">July 14, 2022</a></blockquote> 
				<blockquote class="twitter-tweet"><p lang="en">Kinley’s bottle looks like an alien dildo.<br>originally written on Jan 2017</p>&mdash; Aryan Singh (@0thorderlogic) <a href="https://twitter.com/0thorderlogic/status/1547673588207353856?ref_src=twsrc%5Etfw">July 14, 2022</a></blockquote> 
		</main>
		<Footer />
	</body>
</html>