---
const {url} = Astro.props;
const {type} = Astro.props;
const {title} = Astro.props;
---
<a href={url}>
	<button type={type}>
		{title}
	</button>
</a>

<style>
	div {
		display: flex;
		align-items: center;
		text-transform: uppercase;
	}

	button {
		line-height: normal;
		font-size: small;
		
		margin: 10px 10px 10px 0px;
		padding: 5px;

		border: 1px solid var(--accent);
		color: var(--accent);
		background-color: transparent;

		display: inline-block;
		cursor: pointer;
		
		transition: 0.1s background, 0.1s color;
	}

	button:hover {
		border: 1px solid var(--color);
		color: var(--font);
	}

</style>