---
const today = new Date();
---
<footer class="full-bleed">
	<hr/>
	<p>This page is available under <a target="_blank" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">Attribution-NonCommercial-NoDerivatives 4.0 International (CC BY-NC-ND 4.0)</a></p>
	<p><a href="/rss.xml">Subscribe with RSS</a></p>
	<p><a target="_blank" href="https://snort.social/p/npub1fvz74te5kq2n6uv7tjsnpkdnllctn5adcxthalhk0sfm403zcyvqye3hu4">Nostr</a> - <a href="/disclaimer">Disclaimer</a> - <a href="/privacy">Privacy Policy</a></p>
	<p><a href="/">journal.aryan.ink</a> - <a href="https://directory.aryan.ink">directory.aryan.ink</a> - <a target="_blank" href="https://gitlab.com/aryans-websites">source</a></p>

	<p class="copyright">Aryan Singh &#169; 2016 - {today.getFullYear()}</p>	
</footer>