---
import Header from '../components/Header.astro';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_HEADER } from '../config';


export interface Props {
	content: {
		name?: string;
		heroImage?: string;
		quote?: string;
	};
}

const {
	content: { name, heroImage, quote },
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={name + SITE_HEADER} description={"An about page for the author" + {name}} />
		<style>
			.image {
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.bio #left {
				width: 280px;
				height: auto;
				/* border-radius: 300px; */
				cursor: pointer;
			}
			.bio  #right {
				float: right;
			}
		</style>
	</head>
	<body>
		<Header title={"Who the f*!#? -- "+name}/>
		<main>
			<article>
				<aside class="bio">
					<span class="image">{heroImage && <img id="left" src={heroImage} alt={"An image of " + name} title={"An image of " + name} />}</span>
					<blockquote>{quote}</blockquote>
					<span class="right">
						<slot/>
					</span>
				</aside>
			</article>
		</main>
		<Footer />
	</body>
</html>
