---
import Header from '../components/Header.astro';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_HEADER } from '../config';


export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		heroImage?: string;
		altImage?: string;
		tags?: string;
		author?: string;
		authorName?: string;
	};
}

const {
	content: { title, description, pubDate, heroImage, altImage, author, authorName},
} = Astro.props;

const header_title = title + SITE_HEADER
---

<html lang="en">
	<head>
		<BaseHead title={header_title} description={description} image={heroImage} />
		
		<style>
			p span:first-child {
				text-align: left;
			}
			p span:last-child {
				float: right;
			}
			img {
				padding: 0;
				margin: 0;
				width: 100%;
				max-width: 500px;
			}
			.container {
				display: flex;
				justify-content: center;
			}
		</style>
	</head>
	<body>
		<h1 class="post-styles">{title}</h1>
		<hr>
		<p>
			<span>{pubDate}</span>
			<span><a href="/">See all posts</a></span>
		</p>
		<main>
			<p class="description post-styles">{description}</p>
	
			<div class="container">
				{heroImage && <img src={heroImage} alt={altImage} title={altImage} />}
			</div>
			<article>
				<slot/>
				<p>~ <a href={"/author/"+author}>{authorName}</a> on {pubDate && <time>{pubDate}</time>}</p>
			</article>
		</main>
		<Footer />
	</body>
</html>
