---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_HEADER } from '../config';

export interface Props {
	content: {
		title: string;
		description: string;
		date: string;
	};
}

const {
	content: { title, date, description },
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title + SITE_HEADER} description={description} />
		
		<style>
			p span:first-child {
				text-align: left;
			}
			p span:last-child {
				float: right;
			}

		</style>
	</head>
	<body>
		<h1 class="post-styles">{title}</h1>
		<hr>
		<p>
			<span>{date}</span>
			<span><a href="/">Go back home</a></span>
		</p>
		<main>	
			<p class="description post-styles">{description}</p>
	
			<article>
				<slot/>
			</article>
		</main>
		<Footer />
	</body>
</html>
